@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Dancing Script';
}

/* Pagina inicial */

body{
    background-color: #7D7D7D;
}

header{
    margin-top: 8em;
}

header .container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: white;
    width: 50.6%;
    max-width: 980px;
    margin: auto;
}
.container{
    padding: 5px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    font-size: 1rem; 
    padding: 0.5rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: #53EAF2;
    border-radius: 20px;
    color: white;
}

nav{
    padding: 10px;
}

main{
    width: 90%;
    max-width: 980px;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.principal{
    padding-bottom: 340px;
    width: 70%;
    max-width: 980px;
    height: 20px;
    border: 1px solid #FFFFFF;
    text-align: justify;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.main-principal{
    align-items: center;
    text-align: center;    
}

.hello-main-h1{
    color: #0FC2C0;
    display: flex;
    font-size: 10em;
}

.p-principal{
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    display: flex;
    color: white;
    background-color: #0e0c0cea;
    padding: 5px;
    border-radius: 10px;
    width: 80vh;
    margin: auto;
}

.image-main{
    width: 15%;
    max-width: 980px;
    margin: auto;
    display: flex;
    align-items: center;
}

.contatos{
    display: flex;
    justify-content: center;
    background-color: #0e0c0ce3;
    width: 55%;
    max-width: 980px;
    border-radius: 10px;
    margin-top: 1em;
    margin-left: 15em;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px 2px #0e0c0c;
}

.h3-contato{
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    color: #0FC2C0;
    font-family: 'Dancing Script';
}

.ul-contato{
    margin-top: 40px;
    display: flex;
    flex-direction: revert;
    justify-content: space-around;
}

.li-contato a{
    text-decoration: none;
    font-family: 'Roboto';
}

.li-contato{
    list-style-type: none;
}

.linkedin, .git, .gamil{
    width: 60%;
}

/* About*/

.descricao{
    padding-bottom: 340px;
    width: 70%;
    max-width: 980px;
    height: 20px;
    border: 1px solid #FFFFFF;
    text-align: justify;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.about-h3, .objetivo-h3, .secives{
    display: flex;
    flex-direction: column;
    color: #0FC2C0;
    align-items: center;
    font-size: 1.3em;
}

.skill{
    display: flex;
    flex-direction: column;
    color: #0FC2C0;
    align-items: center;
    font-size: 1.3em;
}

.sobre-p, .objetivo-p, .services-p{
    background-color: #0e0c0ce3;
    border-radius: 10px;
    padding: 1em;
}

.div-about-stak{
    display: flex;
    justify-content: flex-start;
}

.img-html, .img-css, .img-javascript, .img-react, .img-python,
 .img-mysql, .img-sqlserver, .img-nodejs, .img-yarn, .img-npm{
    width: 100%;
}

/* Projetos*/

.pro-main{
    background-color: #FFFFFF;
    width: 100%;
    padding: 50px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.projetos-h1{
    display: flex;
    flex-direction: column;
    color: #0FC2C0;
    align-items: center;
    font-size: 2em;
}

.pro-div{
    background-color: #0e0c0ce3;
    border: 2px solid black;
    width: 20%;
    height: 260px;
    border-radius: 10px;
    margin: auto;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    

    text-transform: uppercase; 
    transition: all;
    transition-duration: 0.5s;
    text-align: center;

    animation-name: moveInRigth;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.pro-pf{
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    display: flex;
    color: white;
    width: 80vh;
    margin: auto;
}

.pro-div:hover{
    box-shadow: 0px 7px 9px #2C98F7;    
}

.pro-p{
    margin: 10px 0px;
    text-align: center;
    text-indent: 10px;
    line-height: 1em;
    font-size: 1em;
}

.pro-link{
    text-decoration: none;
    color: #FFFFFF;
}

/* media queries */

@media (max-width: 630px) {

    .hero .container {
        flex-direction: column;
        text-align: center;
    }

    .hero .container img {
        order: -1;
    }

    .form-group {
        display: block;
    }
}

@media (max-width: 540px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #7159c1;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
        
    }

}